@import "./variables.scss";

.footer {
  background-color: $black;
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
    padding-top: 18px;
    align-items: center;
  }

  &__icon {
    font-size: 24px;
    color: $grey;
    margin-right: 30px;
    transition: $t-hover;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $white;
    }

    @include bp($sm) {
      font-size: 20px;
      margin-right: 10px;
    }
  }

  &__descr {
    font-size: 12px;
    color: $white;
    opacity: .5;
    margin-top: 15px;
  }
}
