@use './global.scss';
@use './header.scss';
@use './main-screen.scss';
@use './social-media';
@use './tabs.scss';
@use './article.scss';
@use './dignity.scss';
@use './price.scss';
@use './review.scss';