@use './fonts.scss';

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


@mixin bp ($bp) {
  @media screen and (max-width: $bp) {
    @content
  }
};

@mixin bpMin ($bp) {
  @media screen and (min-width: $bp) {
    @content
  }
};

$ral: Raleway, sans-serif;
$open: OpenSans, sans-serif;

$orange: #ff8b38;
$white: #ffffff;
$dark-grey: #333333;
$grey: #cccccc;
$light-grey: #f5f5f5;